.resumenavbar {
  font-size: 1em;
  ul {
    li {
      background-color: #4c566a;
      border-radius: 9px;
      padding: 0.3em;
      display:;
    }
  }
}

.skillscolumn {
  display: inline;

  place-self: center;
  align-content: center;
  justify-content: space-between;

  grid-template-rows: 8;
  grid-template-columns: auto;

  overflow: scroll;
}

.skillscolumn > div {
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

.resumecolumns {
  display: inline-grid;

  justify-content: space-between;
  column-gap: 50px;

  grid-template-rows: 8;
  grid-template-columns: auto auto auto;

  overflow: scroll;
}

.resumecolumns > div {
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

.pageoutline {
  margin: 1em;
}
