/*
Placeholder for notes
*/
@import "./base.css";
@import "./components.css";
@import "./theme.css";
@import "./layout.css";
@import "./links.css";
@import "./misc.css";

:root {
    --bg: #2e3440;
    --text: #d8dee9;
    --primary: #8fbcbb;
    --secondary: #5e81ac;
    --accent: #b48ead;
    --category-bg: #2e3440;
    --category-text: #e5e9f0;
}
