@import "./borders.css";
@import "./classes.css";
@import "./global.css";
@import "./links.css";
@import "./lists.css";
/*


*/

/*
Margin properties
margin: auto 2em  ;

margin: 10px 5px 15px 20px;
        top margin is 10px
        right margin is 5px
        bottom margin is 15px
        left margin is 20px

margin: 10px 5px;
        top and bottom margins are 10px
        right and left margins are 5px

margin: 10px;
        all four margins are 10px

*/
