a:link {
    color: var(--primary);
}

a:visited {
    color: var(--secondary);
}

a:hover {
    color: var(--accent);
}

a:active {
    color: var(--accent);
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
}

.navbar a:hover {
    background-color: #000;
}

.navbar a.active {
    background-color: #04aa6d;
}

.resumenavbar {
    margin-bottom: 1rem; /* space below navbar */
}

.resumenavbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* optional: center links */
    gap: 0.5rem 1rem; /* vertical horizontal gap */
    padding: 0;
    margin: 0;
    list-style: none;
}

.resumenavbar ul li {
    background-color: #4c566a;
    border-radius: 9px;
    padding: 0.3em 0.6em;
    display: inline-block;
}
