ul {
  display: inline;
  list-style-type: none;
  padding: 0%;
  font-family: Georgia, serif;
}

li {
  display: inline;
}

/*

This describes the list pointer ? point/square/circle/etc
list-style-type: circle;
list-style-type: disc;
list-style-type: square;
list-style-type: decimal;
list-style-type: decimal-leading-zero;
list-style-type: lower-alpha;
list-style-type: lower-greek;
list-style-type: upper-alpha;
list-style-type: upper-greek;
list-style-type: upper-latin;
list-style-type: upper-roman;
list-style-type: none;
list-style-type: inherit;

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>


*/
